@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 375px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Overpass", sans-serif;
  font-size: 28px;
  font-weight: 300;
  padding: 2rem 1rem;
  line-height: 32px;
  color: hsl(208deg, 49%, 24%);
}

p {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  color: hsl(207deg, 13%, 34%);
}

li {
  list-style: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.navbar {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-nav {
  background-color: hsl(0deg, 0%, 100%);
  align-items: center;
  padding: 1.7rem 0;
  margin-top: 1.5rem;
  display: none;
  flex-direction: column;
  border-radius: 10px;
}

.dropbtn {
  background-color: transparent;
  color: hsl(240deg, 10%, 16%);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

header {
  border-radius: 0 0 0 6rem;
  background-image: linear-gradient(to bottom right, hsl(13deg, 100%, 72%) 20%, hsl(353deg, 100%, 62%) 100%);
  width: 100%;
  height: 600px;
}

.header {
  text-align: center;
  vertical-align: middle;
  width: 375px;
  padding: 3rem 0;
  position: relative;
  top: 22%;
}
.header h1 {
  font-family: "Overpass", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  line-height: 50px;
  padding: 0.8rem 1rem;
}
.header p {
  font-size: 18px;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  padding: 0 1.5rem;
  color: hsl(0deg, 0%, 100%);
}
.header_btn {
  padding: 2rem 0;
}
.header_btn-white {
  padding: 13px 24px;
  border-radius: 20px;
  color: hsl(356deg, 100%, 66%);
  margin-right: 1rem;
  background-color: hsl(0deg, 0%, 100%);
  transition: all 0.3s ease-in;
}
.header_btn-white:hover {
  background-color: hsl(355deg, 100%, 74%);
  color: hsl(0deg, 0%, 100%);
}
.header_btn-white-outline {
  padding: 13px 24px;
  border-radius: 20px;
  border: 1px solid hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 100%);
  transition: all 0.3s ease-in;
}
.header_btn-white-outline:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(356deg, 100%, 66%);
}

.btn {
  padding: 10px 15px;
  text-decoration: none;
}

.section-1 {
  height: auto;
  width: 375px;
  padding: 5rem 1.5rem 15rem;
  text-align: center;
}
.section-1 img {
  width: 100%;
  height: auto;
}

.section-2 {
  position: relative;
  width: 375px;
  height: 625px;
  background-color: hsl(208deg, 49%, 24%);
  border-radius: 0 6rem 0 6rem;
  z-index: -1;
  margin: auto;
}
.section-2 h1 {
  color: hsl(0deg, 0%, 100%);
  padding-top: 12rem;
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-size: 40px;
  line-height: 65px;
}
.section-2_img {
  position: absolute;
  top: -30%;
  width: 100%;
  height: auto;
  align-items: center;
}
.section-2_circle {
  position: absolute;
  top: -43%;
  width: 600px;
  height: auto;
  align-items: center;
}
.section-2 p {
  text-align: center;
  padding: 0 1.5rem;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: hsl(0deg, 0%, 100%);
}

.section-3 {
  text-align: center;
  padding: 4rem 1.5rem 7rem;
}
.section-3 img {
  width: 100%;
  height: auto;
}

footer {
  height: auto;
  width: 375;
  background-color: hsl(240deg, 10%, 16%);
  border-radius: 0 6rem 0 0;
  text-align: center;
}
footer h1 {
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  font-size: 40px;
}

.footer_title {
  padding-top: 3rem;
}

.footer_section-1 {
  padding-bottom: 2.5rem;
}
.footer_section-1 p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 33px;
  color: hsl(0deg, 0%, 100%);
  padding-bottom: 1.5rem;
}
.footer_section-1 a {
  color: #979797;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 33px;
  display: flex;
  flex-direction: column;
}
.footer_section-1 a:hover {
  text-decoration: underline;
}

.footer_section-2 {
  padding-bottom: 2.5rem;
}
.footer_section-2 p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 33px;
  color: hsl(0deg, 0%, 100%);
  padding-bottom: 1.5rem;
}
.footer_section-2 a {
  color: #979797;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 33px;
  display: flex;
  flex-direction: column;
}
.footer_section-2 a:hover {
  text-decoration: underline;
}

.footer_section-3 {
  padding-bottom: 2.5rem;
}
.footer_section-3 p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 33px;
  color: hsl(0deg, 0%, 100%);
  padding-bottom: 1.5rem;
}
.footer_section-3 a {
  color: #979797;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 33px;
  display: flex;
  flex-direction: column;
}
.footer_section-3 a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1440px) {
  body {
    width: 1440px;
  }
  .section-1 {
    position: relative;
    width: 100%;
  }
  .section-1 img {
    position: absolute;
    top: 0;
    right: -10%;
    width: 885px;
    height: auto;
    z-index: -1;
  }
  .section-1-content {
    position: relative;
    width: 50%;
    text-align: left;
    padding: 0 2.4rem;
  }
}/*# sourceMappingURL=main.css.map */